*,html,body {
    font-family: 'Roboto', sans-serif;
}


#work {
    color: #fb3454;
}

#about {
    color: #30d4ff;
}

#blog {
    color: #ffd124;
}

.brand-logo img {
    max-width: 220px;
}

#body {
    background-color: #f9f9f9;
}

#body h5 {
    font-weight: 900;
    font-kerning: none;
    font-size: calc(18px + 1vw);
    color: #30d4ff;
    margin-top: 10px;
    margin-bottom: 5px;
}

#body p {
    font-size: calc(12px + 1vw);
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 300;
}

#body p,
#body figcaption {
    color: #7f7f7f;
}

/* figures */

figure {
    margin: 0;
    overflow: hidden;
}

figcaption {
    margin-top: 15px;
    font-weight: 300;
    font-size: 14px;
}

figcaption ul {
    list-style: none;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
}

.subFigure:last-child {
    margin-top: 20px
}

.waves-effect.waves-light.btn {
    border: 2px solid #30d4ff;
    color: #30d4ff
}

footer  a img{
    /* max-width: 25vw; */
    max-width: calc(100px + 20vw);
    margin: auto;
    width: 50%;
    padding: 10px;
}